<h1>YAAF-demo</h1>
<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% end %>

<ul>
  <li><%= link_to "Registration Form", new_registration_path(:user, department_id: @department.id) %></li>
  <li><%= link_to "Bulk Invites Form", new_invite_path %></li>
  <li><%= link_to "Payment Form", new_account_transaction_path %></li>
</ul>
